@model ShippingCalculator.Entities.Concrete.Continent

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Geo/index.js"></script>

@{
    <form asp-controller="Geo" asp-action="Index" method="post" class="form horizontal" role="form">
        <div class="form-group">
            <div class="row">
                <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <label asp-for="Name" class="control-label">Kıta</label>
                    <select asp-for="Id"
                            class="form-control"
                            asp-items="@(new SelectList(@ViewBag.ListOfContinent,"Id","Name"))" onchange="getCountries(this)"></select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" id="countries_container">
                    <label class="control-label">Ülke</label>
                    <select class="form-control" id="CountryId" name="CountryId" asp-for="Id"
                            asp-items="@(new SelectList(string.Empty,"Id","Name"))"></select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" id="cities_container">
                    <label class="control-label">Şehir</label>
                    <select class="form-control" id="CityId" name="CityId" asp-for="Id"
                            asp-items="@(new SelectList(string.Empty,"Id","Name"))"></select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" id="counties_container">
                    <label class="control-label">İlçe</label>
                    <select class="form-control" id="CountyId" name="CountyId" asp-for="Id"
                            asp-items="@(new SelectList(string.Empty,"Id","Name"))"></select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <input id="Submit1" type="submit" value="Hesapla" />
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                var items2 = "<option value='0'>Ülke Seçiniz</option>";
                var items3 = "<option value='0'>Şehir Seçiniz</option>";
                var items4 = "<option value='0'>İlçe Seçiniz</option>";
                $('#CountryId').html(items2);
                $('#CityId').html(items3);
                $('#CountyId').html(items4);
            });
        </script>
    </form>

}

@*<script type="text/javascript">
        $(document).ready(function () {
            var url = '@Url.Content("~/")' + "";
        })
    </script>*@

